<h1>
  All users
</h1>



<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>


<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Username
    </th>

    <th>
      First Name
    </th>

    <th>
      Last Name
    </th>

    
    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.id %>
    </td>

    <td>
      <%= user.username %>
    </td>

    <td>
      <%= user.first_name %>
    </td>

    <td>
      <%= user.last_name %>
    </td>

    <td>
      <%= time_ago_in_words(user.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(user.updated_at) %> ago
    </td>

    <td>
      <a href="/users/<%= user.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
