<!-- Validation failure messages -->
<% if @place.present? %>
  <% if @place.errors.any? %>
    <% @place.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new place
</h1>

<hr>

<form action="/create_place" method="post">
  <!-- Hidden input for authenticity token to protect from forgery -->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  
  
  <!-- Label and input for name -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @place.try(:name) %>">
  </div>

  <!-- Label and input for address -->
  <div class="form-group">
    <label for="address">
      Address
    </label>

    <input type="text" id="address" name="address" class="form-control" value="<%= @place.try(:address) %>">
  </div>

  <!-- Label and input for description -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @place.try(:description) %></textarea>
  </div>

  <!-- Label and input for lat -->
  <div class="form-group">
    <label for="lat">
      Lat
    </label>

    <input type="text" id="lat" name="lat" class="form-control" value="<%= @place.try(:lat) %>">
  </div>

  <!-- Label and input for lng -->
  <div class="form-group">
    <label for="lng">
      Lng
    </label>

    <input type="text" id="lng" name="lng" class="form-control" value="<%= @place.try(:lng) %>">
  </div>

  <!-- Label and input for owner_id -->


    <input type="hidden" id="owner_id" name="owner_id" class="form-control" value="<%= current_user.id%>">

  <!-- Label and input for city -->
  <div class="form-group">
    <label for="city">
      City
    </label>

    <input type="text" id="city" name="city" class="form-control" value="<%= @place.try(:city) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create place
  </button>
</form>

<hr>

<a href="/places">
  Go back
</a>
